.YOUR-BAG {
  font-weight: 700;
  letter-spacing: 0px;
}

.TOTAL-items {
  font-weight: 400;
}

.Box {
  padding: 30px 100px;
}

.item-box {
  border: 2px solid black;
}

#item-box {
  border: 3px solid gainsboro;
  padding: 25px 20px 10px 20px;
}

.Bag-box {
  margin: 50px 0px 0px 85px;
}

.order-box {
  padding: 250px 150px;
}

.Checkout {
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #2d2147;
  padding-left: 0px;
  padding-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  text-align: start;
  border-radius: 10px;
  font-weight: 600;
}

.Checkout-box {
  margin-right: 250px;
  padding-left: 15px;
}

.size-input {
  width: 50px;
  font-size: 22px;
  padding: 0;
}

.size-input:hover {
  background-color: transparent !important;
  color: #2d2147;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Link {
  text-decoration: none;
  background: #2d2147;
  width: 70%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.Link:hover {
  color: white;
}
@media (max-width: 668px) {
  .Checkout-box {
    margin-right: 0px;
    padding-left: 0px;
  }
  .Box {
    padding: 15px 15px;
    margin-bottom: 10px;
  }
  .Checkout {
    width: 0px;
    padding-left: 0px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .order-box {
    padding: 30px 20px;
  }
  #item-box {
    border: 3px solid gainsboro;
    padding: 25px 20px 10px 10px;
  }
  .order-box > .Link {
    background: #2d2147;
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .Bag-box {
    margin: 50px 0px 0px 5px;
  }
}
